<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>ChildCara 상세페이지</title>
    <script>

        function apply() {
            let title_give = $('#apply-title').text()
            $.ajax({
                type: "POST",
                url: "/detail",
                data: {title_give:title_give},
                success: function(response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }
    </script>
    <style>
        .card {
            width: 700px;
            height: 500px;
            margin-top: 150px;
            margin-left: 450px;
        }

        .btn-primary {
            margin-top: 30px;
            margin-left: 750px;
        }
        .input-group {
            height: 20%;
        }
        .btn-link {
            position: absolute;
            margin-left: 69%;
            top: 110px;
        }
    </style>
</head>

<body>

{%if user_info.username == post_id %}
    <button type="button" class="btn btn-link">삭제하기</button>
{% endif %}
<div class="card">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">제목</div>
        </div>
        <span type="text" class="form-control" id="apply-title">{{title}}</span>
        <div class="input-group mb-4">
            <div>
                <span class="input-group-text" id="basic-addon2">작성자</span>
            </div>
                <span class="form-control">{{post_info}}</span>
            <div>
                <span class="input-group-text" id="basic-addon2">지역</span>
            </div>
            <span class="form-control">{{location}}</span>
            <div>
                <span class="input-group-text" id="basic-addon3">모집인원</span>
            </div>
            {% if cur_cnt == population %}
            <span class="form-control">모집완료</span>
            {% else %}
            <span class="form-control">({{cur_cnt}}/{{population}})명</span>
            {% endif %}
        </div>
        <div class="input-group mb-3">
            <div>
                <span class="input-group-text" id="basic-addon4">나이</span>
            </div>
            <span class="form-control">{{age}}</span>
            <div>
                <span class="input-group-text" id="basic-addon5">전화번호</span>
            </div>
            <span class="form-control">{{phone}}</span>

        </div>
        <div class="card-body">
            <p class="card-text">{{details}}</p>
        </div>
    </div>
</div>

{%if user_info.username == post_info %}
    <button onclick="window.location.href='/postingPage'" class="btn-primary">수정하기</button>
{% else %}
    <button onclick="apply()" class="btn-primary">신청하기</button>
{% endif %}

<button class="btn-primary" onclick="window.location.href='/'">메인으로</button>
</body>


</html>

