<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>ChildCare</title>

    <meta property="og:title" content="ChildCare" />
    <meta property="og:description" content="육아 품앗이 매칭 플랫폼" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

        <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--google font 링크-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nunito&family=Ubuntu:ital,wght@0,300;1,400&display=swap" rel="stylesheet">


    <script>

        function toLogin() {
            alert("로그인이 필요한 기능입니다!")
            window.location.href = '/login'
        }

        function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/"
            }

    </script>
    <style>
        *{
             font-family: 'Gowun Dodum';

        }

        .btn-primary
        {
            font-family: 'Gowun Dodum';
            color: black;
            background-color: #fbc02d;
            border: 0px solid #fbc02d;
            border-radius: 5px;

        }
        .title-id{
            font-size:70%;
            position: fixed;
            right: 50px;
            top: 10px;

        }
    </style>


</head>


<body>



    <article class="panel is-warning">


        <div class = "title-id" >
          {% if user_info != 0 %}
            안녕하세요 {{ user_info.id }}님!
          {% endif %}

        </div>
      <p class="panel-heading">
          <span style="font-size:120%">ChildCare</span>
          <span style="font-size:80%">육아 품앗이 매칭 플랫폼</span>

          {% if user_info != 0 %}
              <button class="btn-primary" onclick="window.location.href='/postingPage'">모집글 올리기</button>
          {% else %}
              <button class="btn-primary" onclick="toLogin()"  href="./login">모집글 올리기</button>
          {% endif %}

          {% if user_info == 0 %}
            <button class="btn-primary" onclick="window.location.href='/login'"> 로그인 하기 </button>
          {% else %}
            <button class="btn-primary" onclick="sign_out()">로그아웃 하기</button>
         {% endif %}
      </p>
      <p class="panel-tabs">
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-warning" type="text" placeholder="Search">
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
    {% for post in posts %}
       {% if user_info != 0 %}
          <a class="panel-block is-active" href="./detail?title={{ post.title }}">
       {% else %}
          <a class="panel-block is-active" onclick="toLogin()"  href="./login">
       {% endif %}
        <span class="panel-icon">
          <i class="fas fa-book" aria-hidden="true"></i>
        </span>
              <span style="font-size:120%;color:gray;">{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="font-size:80%;color:gray;">모집 인원: {{ post.cur_cnt }}/{{ post.population }}&nbsp;&nbsp;</span>
              <span style="font-size:80%;color:gray;">지역: {{ post.location }}&nbsp;&nbsp;</span>
              <span style="font-size:80%; color:gray;">작성자: {{ post.post_info }}&nbsp;&nbsp;</span>
      </a>
    {% endfor %}
    </article>

</body>
</html>